<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div
    class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white"
  >
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="table-search-users"
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for users"
      />
    </div>
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Class</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let users of userDetails"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            class="w-10 h-10 rounded-full"
            [src]="getImageUrl(users.image)"
            alt="{{ users.fname }}'s image"
          />
          <div class="ps-3">
            <div class="text-base font-semibold">
              {{ users.fname }} <span>{{ users.lname }}</span>
            </div>
            <div class="font-normal text-gray-500">{{ users.email }}</div>
          </div>
        </th>
        <td class="px-6 py-4">{{ users.class }}</td>
        <td class="px-6 py-4">
          <div class="flex items-center">
            <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
            Online
          </div>
        </td>
        <td class="px-6 py-4 space-x-2 text-center">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
          <a
            (click)="openDialog('delete')"
            class="font-medium text-red-600 dark:text-red-500 hover:underline cursor-pointer"
            >Delete</a
          >
          <a
            (click)="openDialog('block')"
            class="font-medium text-yellow-600 dark:text-yellow-500 hover:underline cursor-pointer"
            >Block</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="showDialog"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="bg-white p-6 rounded-lg shadow-lg dark:bg-gray-800">
    <h2 class="text-white text-lg font-semibold mb-4">{{ dialogTitle }}</h2>
    <p class="text-white mb-6">{{ dialogMessage }}</p>
    <div class="flex justify-end space-x-4">
      <button
        (click)="closeDialog()"
        class="px-4 py-2 bg-gray-500 text-white rounded-lg"
      >
        Cancel
      </button>
      <button
        (click)="confirmAction()"
        class="px-4 py-2 bg-red-500 text-white rounded-lg"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
