
<nav class="fixed w-full bg-white dark:bg-customColor border-b border-neutral-700 z-50">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
      src="4.png" class="h-15 w-20"
      />
      <span
        class="self-center text-2xl md:text-4xl font-semibold whitespace-nowrap text-greenColor mt-5"
        >Tutor<span class="self-center text-2xl md:text-4xl font-semibold whitespace-nowrap dark:text-neutral-700">Mate</span></span
      >
    </a>
    <div
      class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative"
    >
      <button
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 mt-5"
        id="user-menu-button"
        aria-expanded="false"
        (click)="toggleDropdown()"
      >
        <span class="sr-only">Open user menu</span>
        <div
          class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-300"
        >
          <svg
            class="absolute w-12 h-12 text-gray-400 -left-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </button>

   
      <div
        *ngIf="isDropdownOpen"
        class="z-50 absolute top-full border border-neutral-700 right-0 mt-2 text-base list-none bg-white divide-y divide-neutral-700 rounded-lg shadow dark:bg-customColor"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-neutral-700 "
            >{{ isFname }} <span>{{ isLname }}</span>
          </span>
          <span
            class="block text-sm text-neutral-500 truncate"
            >{{ isEmail }}</span
          >
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 text-neutral-700 dark:hover:text-white"
              >Profile</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 text-neutral-700 dark:hover:text-white"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 text-neutral-700 dark:hover:text-white"
              >Earnings</a
            >
          </li>
          <li>
            <a
              (click)="logOut()"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 text-neutral-700 dark:hover:text-white cursor-pointer"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
      <button
        data-collapse-toggle="navbar-user"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 mt-5"
        aria-controls="navbar-user"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-customColor dark:border-gray-700"
      >
        <li *ngFor="let items of menuItems">
          <a
            [routerLink]="items.path"
            class="block text-xl py-2 px-3 text-neutral-700 hover:text-greenColor font-semibold bg-grey-700 rounded md:bg-transparent md:text-grey-700 md:p-0 md:dark:text-grey-500 cursor-pointer mt-5"
            aria-current="page"
            >{{ items.name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
