<div class="flex-grow">
  <div
    class="max-w-lg mx-auto md:mt-36 mt-12 p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-6">
      Register
    </h2>
    <form [formGroup]="myForms" (ngSubmit)="submitForm()">
      <!-- Email -->
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="email"
          name="email"
          formControlName="email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Email address</label
        >
        <div
          *ngIf="myForms.get('email')?.invalid && myForms.get('email')?.touched"
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForms.get('email')?.errors?.['required']"
            >Email is required.</small
          >
          <small *ngIf="myForms.get('email')?.errors?.['email']"
            >Invalid email format.</small
          >
        </div>
        <div *ngIf="existEmail" class="text-red-600 font-bold">
          <small>{{ existEmail }}</small>
        </div>
      </div>
      <!-- Password -->
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="password"
          name="password"
          formControlName="password"
          id="floating_password"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_password"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Password</label
        >
        <div
          *ngIf="
            myForms.get('password')?.invalid && myForms.get('password')?.touched
          "
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForms.get('password')?.errors?.['required']"
            >Password is required.</small
          >
          <small *ngIf="myForms.get('password')?.errors?.['minlength']"
            >Minimum length is 6.</small
          >
        </div>
      </div>
      <!-- Confirm Password -->
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="password"
          name="repeat_password"
          formControlName="repeat_password"
          id="floating_repeat_password"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_repeat_password"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Confirm password</label
        >
        <div
          *ngIf="
            myForms.get('repeat_password')?.invalid &&
            myForms.get('repeat_password')?.touched
          "
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForms.get('repeat_password')?.errors?.['required']"
            >Confirmation password is required.</small
          >
          <small *ngIf="myForms.get('repeat_password')?.errors?.['minlength']"
            >Minimum length is 6.</small
          >
        </div>
        <div
          *ngIf="
            myForms.errors?.['passwordMismatch'] &&
            myForms.get('repeat_password')?.touched
          "
          class="text-red-600 font-bold"
        >
          <small>Passwords do not match.</small>
        </div>
      </div>
      <!-- First Name and Last Name -->
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="fname"
            formControlName="fname"
            id="floating_first_name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_first_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >First name</label
          >
          <div
            *ngIf="
              myForms.get('lname')?.invalid && myForms.get('lname')?.touched
            "
            class="text-red-600 font-bold"
          >
            <small *ngIf="myForms.get('lname')?.errors?.['required']"
              >Last name is required.</small
            >
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="lname"
            formControlName="lname"
            id="floating_last_name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_last_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Last name</label
          >
          <div
            *ngIf="
              myForms.get('lname')?.invalid && myForms.get('lname')?.touched
            "
            class="text-red-600 font-bold"
          >
            <small *ngIf="myForms.get('lname')?.errors?.['required']"
              >Last name is required.</small
            >
          </div>
        </div>
      </div>
      <!-- Phone and Location -->
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="tel"
            pattern=""
            name="phone"
            formControlName="phone"
            id="floating_phone"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_phone"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Phone number (123-456-7890)</label
          >
          <div
            *ngIf="
              myForms.get('phone')?.invalid && myForms.get('phone')?.touched
            "
            class="text-red-600 font-bold"
          >
            <small *ngIf="myForms.get('phone')?.errors?.['required']"
              >Phone number is required.</small
            >
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="location"
            formControlName="location"
            id="floating_location"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_location"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Location</label
          >
          <div
            *ngIf="
              myForms.get('location')?.invalid &&
              myForms.get('location')?.touched
            "
            class="text-red-600 font-bold"
          >
            <small *ngIf="myForms.get('location')?.errors?.['required']"
              >Address is required.</small
            >
          </div>
        </div>
      </div>
      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  </div>
</div>
